.App {}

  {
  /*loginsignup page styling*/
}

.container {
  display: flex;
  border-right: 30;

}

.name {
  font-size: 50px;
}

.leftside {
  padding: 20px;
  background-color: aquamarine;
  border-radius: 5px 300px 300px 5px;
  width: 900px;
  height: 85vh;
}

.rightside {
  width: 400px;
  height: 300px;
  border: 40px;
  margin-top: 5cm;
  margin-left: 3cm;
  background-color: rgb(209, 181, 211);
  text-align: center;
  border-radius: 200px;
}

.img1 {
  width: 100px;
  height: 300px;
}

.button1 {
  color: chocolate;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
}

.button4 {
  color: floralwhite;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  background-color: rgb(5, 133, 91);
}

  {
  /*Login page styling*/
}

.busket {
  text-align: center;
  display: block;
  width: 600px;
  height: 500px;
  background-color: aquamarine;
  margin-top: 4cm;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  font-size: 30px;
  border-radius: 30px;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid red;
  margin-top: 50px;
  font-size: 20px;
  width: 300px;
  height: 30px;
}

input[type=number] {
  border: none;
  border-bottom: 2px solid red;
  margin-top: 50px;
  font-size: 20px;
  width: 300px;
  height: 30px;
}

input[type=password] {
  border: none;
  border-bottom: 2px solid red;
  margin-top: 50px;
  width: 300px;
  height: 30px;
}

input[type=submit] {
  border-radius: 10px;
  font-size: medium;
  height: 40px;
  width: 100px;
  background-color: rgb(161, 161, 211);
  color: brown;
}

  {
  /*navbar style
*/
}

.nav {
  margin-top: 0%;
  border-top-right-radius: 10pt;
  border-bottom-right-radius: 10pt;
  height: 100vh;
  width: 200px;
  background-color: rgb(98, 193, 219);
  text-align: center;

}

.elements {
  width: 200px;
  height: 20%;
  color: azure;
  gap: 20px;
}

.navelements {
  padding-left: 0px;
  width: 50px;
}

.nav-item {
  margin-top: 30px;
  text-align: center;
  font-size: 20pt;
  list-style: none;
  margin-left: 0px;
}

.navitems {
  padding-left: 0px;
  margin-left: 0px;
  border-left: 0px;
}

.nav-link {
  border: 0px;
}

.navbar-start {
  display: flex;

}

.head {
  display: flex;

}

.headerend {
  display: flex;
  position: fixed;
  right: 20px;
  text-align: center;
  font-size: 25px;
}

.headername {
  font-size: 50px;
  margin: 0px;
  color: rgb(22, 15, 234);
}

.end {
  margin: 10px;
}

.home {
  display: block;
}

.body {
  display: flex;
  gap: 50px;
  border-right: 0px;
}

.body2 {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.busket2 {
  margin-right: 20%;
  background-color: rgb(132, 255, 255);
  margin-left: 20%;
  margin-bottom: 20%;
  margin-top: 20px;
  border-radius: 30px;
  padding: 20px;
  font-size: large;
  width: 1100px;
}

.button2 {
  color: chocolate;
  border-radius: 20px;
  height: 70px;
  width: 200px;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.busket1 {
  background-color: rgb(190, 147, 199);
  margin: 30px;
  padding: 30px;
  orientation: landscape;
  display: inline-block;
}

.busket3 {
  background-color: aquamarine;
  margin: 0cm 5cm 5cm 5cm;

}

.busket9 {
  margin: 0px;
  padding: 0px;
  orientation: landscape;
  display: inline-block;
  width: 800px;
  height: 300px;
}

.candidates {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.button3 {
  width: 50px;
  font-size: 30px;
  border-style: hidden;
  background-color: rgb(98, 193, 219);
  color: rgb(22, 44, 66);
  cursor: pointer;
}

.line-2 {
  border-top: 1px solid rgb(255, 255, 255);
  width: 150px;
  padding: 0px;
}

.line-3 {
  border-top: 1px solid rgb(242, 69, 69);
  width: 500px;
  padding: 0px;
}

.voterbody {
  position: relative;
  left: 60px;
  display: block;
}

.busket4 {
  display: flex;
}

.side {
  display: flex;
}

table {
  border: 3px solid rgb(10, 97, 10);
  width: 900px;
  height: 150px;
}

th {
  border-bottom: 1px solid rgb(225, 96, 96);
}

td {
  text-align: center;
  color: blue;
}

.v1 {
  border-left: 3px solid rgb(22, 25, 165);
  height: 500px;
}

.admintext {
  color: rgb(107, 7, 50);
  text-align: center;
}
.body3{
  display: block;
  margin-left: 80px;
  padding-left: 60px;
}